body {
  font-family: "Gentium Book Plus", serif;
  margin: auto;
}

.container {
  width: 75%;
  margin: auto;
  display: grid;
}

.header {
  padding: 50px 25px 25px 25px;
}

h1 {
  margin: auto;
  font-size: 48px;
}

p {
  font-size: 16px;
  margin: 20px 0 0 0;
}

.book-form {
  padding: 25px;
}

form {
  display: grid;
  gap: 15px;
}

input, label {
  display: block;
  border-radius: 5px;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
}

input {
  height: 25px;
  font-size: 16px;
}

.submit-div {
  align-self: end;
}

.submit {
  margin-top: 25px;
  height: 30px;
  border: 1px solid black;
  padding: 7px 25px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px 25px 25px 25px;
}

.card {
  padding: 25px;
}