body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  background-color: #f0eef1;
}

.header {
  background-color: #ffffff;
}

.container {
  width: 75%;
  margin: auto;
  padding: 25px;
}

h1 {
  margin: auto;
  font-size: 36px;
}

.main {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
}

.form-container {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 5px;
}

form {
  display: grid;
  gap: 15px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7.5px;
}

input {
  width: 100%;
  padding: 5px 5px 5px 10px;
  font-family: inherit;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #f0eef1;
  border: none;
  border-radius: 5px;
}

.submit {
  margin-top: 5px;
  font-weight: 600;
  background-color: #f0eef1;
  border-radius: 5px;
}

select {
  width: 100%;
  height: 37px;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  background-color: #f0eef1;
  border: none;
  border-radius: 5px;
}

.card {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  border-left: 10px solid #000000;
}